{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2>Fale Conosco</h2>
  <p>Em caso de dúvidas, sugestões ou problemas, entre em contato conosco:</p>

  <ul class="list-unstyled">
    <li><strong>Email:</strong> suporte@parkcontrol.com</li>
    <li><strong>WhatsApp:</strong> (65) 99228 - 7172</li>
    <li><strong>Telefone:</strong> (65) 99253 - 6105</li>
    <li><strong>Endereço:</strong> Av. Getulio, 123 – Centro – Cuiabá/MT</li>
    <li><strong>Horário de atendimento:</strong> Segunda a Domingo, das 08h às 18h</li>
    <li><strong>Horario de funcionamento:</strong> 24 Horas</li>
  </ul>

  <p>Estamos aqui para ajudar você!</p>
</div>
{% endblock %}